@import "fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input{
  display: block;
  border: 3px solid rgba(128, 128, 128, 0.459);
  border-radius: 8px;
}
input:focus{
  border: 3px solid blue;
}

.text_red {
  color: red;
}
.main{
 
}
.container{
  max-width: 1440px;
  display: block;
  margin: 0 auto;  
  padding: 32px 32px;
}
.main-header{
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}
.main-title{
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
}
.sort{
  min-width: 121px;
  width: 121px;
  height: 36px;
  color: #3F3F3F;
  border-radius: 4px;
  border: 3px solid rgba(128, 128, 128, 0.459);
  font-size: 12px;
  line-height: 15px;
  padding-left: 5px;
  margin-right: 8px;
  &:focus{
    border: 3px solid blue;
  }

}
.main-wrapper {
  display: flex;
}
.aside {
}
.label-title {
  font-size: 10px;
  line-height: 13px;
  display: block;
  margin-top: 16px;
  letter-spacing: -0.02em;
}

.input{
  min-width: 284px;
  font-size: 12px;
  line-height: 15px;
  font-family: Source Sans Pro;
  padding: 10px 0 11px 16px;

  &-name {
    margin-top: 4px;
  }
  &-url {
    margin-top: 4px;
  }
  &-price {
    margin-top: 4px;
  }
}

.textarea-description {
  min-width: 284px;
  height: 108px;
  font-size: 12px;
  margin-top: 4px;
  padding: 10px 0 11px 16px;
  line-height: 15px;
  border: 3px solid rgba(128, 128, 128, 0.459);
  border-radius: 8px;
  resize: none;
  font-family: Source Sans Pro;

  &:focus{
    border: 3px solid blue;
  }
}
.button-add {
  width: 284px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  padding: 10px 0;
  margin-top: 24px;
  font-size: 12px;
  line-height: 15px;
  color: #B4B4B4;
  border: 3px solid rgba(128, 128, 128, 0.459);
  border-radius: 8px;
}
.button-add:hover{
  background: #7bae73;
  border: 3px solid #7bae73;
  color: black
}

.product-items {
  display: flex;
  justify-content: space-around;
  // justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 16px;
  padding-top: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 332px;
  max-width: 332px;
  padding: 8px;
  cursor: pointer;

  &:hover .item-delete{
    opacity: 1;
    transition: 1s
  }

  &-delete{
    opacity: 0;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    cursor: pointer;

    img{
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &-img {
    max-width: 100%;
    max-height: 200px;
  }
  &-title {
    margin: 16px 0px 0px 16px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    color: #3f3f3f;
  }

  &-subtitle {
    display: flex;
    flex: 1 0 auto;
    padding: 16px 16px 0px 16px;
    font-size: 16px;
    line-height: 20px;
    color: #3f3f3f;
  }
  &-price {
    padding: 32px 16px 24px 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #3f3f3f;
  }
}

